---
layout: default
---
<div class="container-fluid image-header" style="background-image: url('/assets/header-bg.jpg');">
  <div class="row">
    <div class="image-header-overlay">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <h1>Contentable <span class="dash">&ndash;</span> Agile content, content strategy &amp; writing technology</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <div class="posts">
        <div class="row">
          {% for post in site.posts %}
          {% include listpost.html p=post %}
          {% endfor %}
        </div>
    </div>
  </div>
</div>
