---
layout: default
---

{% for post in site.categories['platform'] limit:1 %}
<div class="container-fluid image-header" style="background-image: url('{{ post.image }}');">
  <div class="row">
    <div class="image-header-overlay">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <h3>The Latest in Platform</h3>
          <div class="borderline"></div>
          <h1 class="featured">{{post.title}}</h1>
          <a href="{{ post.url }}" class="btn btn-orange btn-blog">READ POST</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="container">
  <div class="col-md-12">
      <h2 class="posts-intro">Posts About the Platform</h2>
  </div>
</div>
<div class="container">
	<div class="col-md-12">
	    <div class="posts">
	        <div class="row">
	            {% for post in site.categories.platform offset:1 %}
	            {% include listpost.html p=post %}
	            {% endfor %}
	        </div>
	    </div>
	</div>
</div>
