<div class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="col-sm-6 footer-column">
        <h3>About Beegit</h3>
          <p>Team-based online writing software that removes barriers across your organization to create, edit and approve web content.</p>
      </div>
      <div class="col-sm-2 footer-column">
        <h3>Company</h3>
        <ul class="footer-links">
          <li><a href="https://beegit.com" target="_blank">Visit beegit.com</a></li>
          <li><a href="https://beegit.com/about" target="_blank">About Us</a></li>
          <li><a href="https://beegit.com/contact" target="_blank">Request A Demo</a></li>
        </ul>
      </div>
      <div class="col-sm-2 footer-column">
        <h3>Resources</h3>
        <ul class="footer-links">
          <li><a href="https://beegit.com/markdown-cheat-sheet" target="_blank">Markdown Cheat Sheet</a></li>
          <li><a href="https://beegit.com/media-kit" target="_blank">Media Kit</a></li>
          <li><a href="http://help.beegit.com" target="_blank">Help Docs</a></li>
          <li><a href="http://blog.beegit.com/feed"><i class="fa fa-rss"></i> RSS Feed</a></li>
        </ul>
      </div>
      <div class="col-sm-2 footer-column">
        <h3>Connect</h3>
        <ul class="footer-links">
          <li><a href="http://twitter.com/ProjectBeegit" target="_blank">Twitter</a></li>
          <li><a href="https://www.facebook.com/ProjectBeegit?ref=stream" target="_blank">Facebook</a></li>
          <li><a href="https://www.linkedin.com/company/5034523?trkInfo=tas%3Abeegit%2Cidx%3A1-1-1&trk=tyah" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
    <div class="col-sm-12">
      <hr>
        <p class="copyright">&copy; Beegit 2014 - {{ site.time | date: '%Y' }}. All rights reserved.</p>
      </div>
  </div>
</div>
