  <hr class="divider">
  <div class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="col-sm-6 footer-left">
        <p>&copy; Beegit 2014. All rights reserved.</p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://beegit.com" data-text="Working together has never been easier. See how @ProjectBeegit revolutionizes the way content teams collaborate at">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <div class="col-sm-6 footer-right">
        <div class="footer-links">
          <p>
            <a href="http://blog.beegit.com/feed" target="_blank">RSS Feed</a>
            <a href="http://twitter.com/ProjectBeegit" target="_blank">Twitter</a>
            <a href="https://www.facebook.com/ProjectBeegit?ref=stream" target="_blank">Facebook</a>
            <a href="https://www.linkedin.com/company/5034523?trkInfo=tas%3Abeegit%2Cidx%3A1-1-1&trk=tyah" target="_blank">LinkedIn</a>
            <a href="https://plus.google.com/107545974766894256307/posts" target="_blank">Google+</a>
          </p>
        </div>
         <p>Made with <img src="/assets/ohio.gif"> in CLE</p>
      </div>
    </div>
  </div>
</div>