  <hr class="divider">
  <div class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="col-sm-6 footer-left">
        <p>&copy; Beegit 2015. All rights reserved.</p>
      </div>
      <div class="col-sm-6 footer-right">
        <div class="footer-links">
          <p>
            <a href="http://twitter.com/ProjectBeegit" target="_blank">Twitter</a>
            <a href="https://www.facebook.com/ProjectBeegit?ref=stream" target="_blank">Facebook</a>
            <a href="https://www.linkedin.com/company/5034523?trkInfo=tas%3Abeegit%2Cidx%3A1-1-1&trk=tyah" target="_blank">LinkedIn</a>
            <a href="https://plus.google.com/107545974766894256307/posts" target="_blank">Google+</a>
          </p>
        </div>
         <p>Made with <img src="/assets/ohio.gif"> in CLE</p>
      </div>
    </div>
  </div>
</div>