  <nav class="navbar navbar-inverse navbar-static-top site-header" role="navigation">
    <div class="container">
      <div class="wrapper">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img alt="Brand" src="/assets/beegitBlogLogo.png">
            </a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <p class="navbar-btn">
                      <a href="https://beegit.com" target="_blank" class="btn btn-sm btn-blue">Visit beegit.com</a>
                  </p>
              </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
