  <nav class="navbar navbar-inverse navbar-static-top site-header" role="navigation">
    <div class="container">
      <div class="col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="Brand" src="/assets/beegit.png"> BLOG
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li{% if page.url contains 'content_strategy' %} class="active"{% endif %}><a href="/content_strategy">Content Strategy</a></li>
              <li{% if page.url contains 'markdown' %} class="active"{% endif %}><a href="/markdown">Markdown</a></li>
              <li{% if page.url contains 'platform' %} class="active"{% endif %}><a href="/platform">Platform</a></li>
              <li{% if page.url contains 'new_features' %} class="active"{% endif %}><a href="/new_features">New Features</a></li>
           </ul>
        </div>
      </div>
    </div>
  </nav>
