  <nav class="navbar navbar-inverse navbar-static-top site-header" role="navigation">
    <div class="container">
      <div class="wrapper">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img alt="Brand" src="/assets/beegitBlogLogo.png">
            </a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li{% if page.url == '/' %} class="active"{% endif %}><a href="/">All Posts</a></li>
                <li{% if page.url contains 'agile_content' %} class="active"{% endif %}><a href="/agile_content">Agile Content</a></li>
                <li{% if page.url contains 'markdown' %} class="active"{% endif %}><a href="/markdown">Markdown</a></li>
                <li{% if page.url contains 'using_beegit' %} class="active"{% endif %}><a href="/using_beegit">Using Beegit</a></li>
                <li{% if page.url contains 'new_features' %} class="active"{% endif %}><a href="/new_features">New Features</a></li>
                <li{% if page.url contains 'buzz' %} class="active"{% endif %}><a href="/buzz">Buzz</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
