<ul class="col-md-4">
    <li>
      <a class="post-link" href="{{ include.p.url | prepend: site.baseurl }}"></a>
      <div class="post-image-container" style="background-image: url('{{ include.p.image }}')">
      </div>
      <div class="post-content-container">
        <h2 class="post-title">
          <div class="post-link">{{ include.p.title | truncatewords:13  }}</div>
        </h2>
      <!-- <div class="borderline"></div> -->
      {% assign author = site.data.authors[include.p.author] %}
        <span class="post-byline">
          {% if author %}
             by {{ author.name }}
          {% endif %}
        </span>
          <div>
            <p class="post-teaser">
              {{ include.p.teaser | truncatewords:17 }}
            </p>
          </div>
      </div>
    </li>
</ul>
