<div class="well well-signup text-center">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Painless content production and collaboration for teams</h2>
        <p>Beegit is the online writing platform that removes barriers across your organization to create, edit and approve web content.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <a href="https://beegit.com/pricing" target="_blank" class="btn btn-orange btn-lg btn-block">Try It Free</a>
      </div>
      <div class="col-md-5">
        <a href="https://beegit.com/contact" target="_blank" class="btn btn-primary btn-lg btn-block">Request A Demo</a>
      </div>
    </div>
  </div>
</div>
