<div class="subscribe-me text-center modal modal-subscribe">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <a href="#close" class="sb-close-btn">&times;</a>
      <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
    </div>
    <div class="modal-body text-center">
      <h1>Subscribe today and get bi-weekly articles that will help you grow your business!</h1>
      <form class="form-inline" action='https://beegitbuzz.curated.co/email_subscribers' id='subscribe-form' method='post'>
        <div class="form-group">
          <div class="row">
            <div class="col-md-7">
              <input class="form-control input-lg" id='subscribe-email' name='email' type='email' placeholder="Email"/>
            </div>
            <div class="col-md-5">
               <input type='submit' class="btn btn-warning btn-block btn-lg" onclick="this.form.submit(); this.disabled=true; this.value='Sending...';" value='Subscribe'/>
            </div>
          </div>
        </div>
      </form>
      <p>Give it a try—it only takes a click to unsubscribe.</p>
    </div>
    <div class="modal-footer">
      &nbsp;
    </div>
  </div>
</div>
</div>