<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
    {% include header.html %}
    <div class="container-fluid image-header" style="background-image: url('/assets/header-bg.jpg');">
      <div class="image-header-overlay">
        <div class="row">
        <div class="container">
          <div class="col-md-12">
            <h1>Contentable <span class="dash">&ndash;</span> Beegit's blog on agile content, content strategy &amp; writing technology</h1>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row-fluid">
            {{ content }}
        </div>
      </div>
    {% include footer.html %}    
    </body>
</html>
