<!DOCTYPE html>
<!-- meta robots -->
{% if page.noindex %}
 <meta name="robots" content="noindex" />
{% endif %}
<html>
  {% include head.html %}
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top site-header" role="navigation">
        <div class="container">
          <div>
            <div class="col-sm-10 col-sm-offset-1">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">
                  <img alt="Brand" src="/assets/beegitBlogLogo.gif">
                </a>
              </div>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-default navbar-fixed-top site-header" role="navigation" id="menu">
        <div class="container">
          <div>
            <div class="col-xs-3">
              <a class="navbar-brand" href="/">
                <img alt="Brand" src="/assets/beegitBlogLogoPos.gif">
              </a>
            </div>
      </nav>
    <div class="container-fluid">
        <div class="container">
          <div class="lp-content">
            <div class="col-sm-10 col-sm-offset-1" style="margin-top: 120px;">
            {{ content }}
          </div>
          </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1 footer-column">
              <h3>About Beegit</h3>
                <p>Team-based online writing software that removes barriers across your organization to create, edit and approve web content.</p>
            </div>
          <div class="col-sm-10 col-sm-offset-1">
            <hr>
              <p class="copyright">&copy; Beegit 2014 - {{ site.time | date: '%Y' }}. All rights reserved.</p>
            </div>
      </div>
    </div>
  </body>
</html>
