---
layout: default
---
<div class="col-md-offset-1 col-md-10" style="margin-top: 30px;">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  	<img src="{{ page.image }}">
  	{{ content }}
    <hr>
    <div id="post-nav" class="clearfix">
        {% if page.previous.url %} 
          <p><strong>Previous: </strong><a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a></p>
        {% endif %} 
        {% if page.next.url %} 
          <p><strong>Next: </strong><a class="next" href="{{page.next.url}}">{{page.next.title}}</a></p>
        {% endif %} 
    </div>
  	 <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="text-center">Beegit is the <span style="font-weight: 500;">best way</span> to get your content under control.</h4>
  	   <p class="text-center">
        <a class="btn btn-warning btn-lg" href="https://beegit.com">Start your free trial today</a>
      </p>
     </div>
  </div>
  </article>

</div>
</div>