---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  	<img src="{{ page.image }}">
  	{{ content }}
    <hr>
    <div id="post-nav" class="clearfix">
        {% if page.previous.url %} 
          <p><strong>Previous: </strong><a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a></p>
        {% endif %} 
        {% if page.next.url %} 
          <p><strong>Next: </strong><a class="next" href="{{page.next.url}}">{{page.next.title}}</a></p>
        {% endif %} 
    </div>
  	 <div class="panel">
  	Beegit is the <span style="font-weight: 500;">best way</span> to get your content under control.
  	<div><a class="button" href="https://beegit.com">Sign Up for Beegit's Beta Today</a></div>
  </div>
  </article>

</div>