---
layout: default
---

<div class="container-fluid image-header" style="background-image: url('{{ page.image }}');">
  <div class="row">
    <div class="image-header-overlay">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="featured">{{page.title}}</h1>
          {% assign author = site.data.authors[page.author] %}
          <div class="post-author-head">
            <img src="{{ author.gravatar }}">
              {% if author %}
              <div class="post-metadata">
                By {{ author.name }}
                <br />
                {{ page.date | date: "%b %-d, %Y"}}
              </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-8 col-md-offset-2 post-content">
      <div class="post-wrapper">
        <header class="post-header">
          <!-- {% assign author = site.data.authors[page.author] %}
            <div class="borderline left"></div>
            <div class="post-author-head">
              <img src="{{ author.gravatar }}">
              {% if author %}
                <span>By <strong>{{ author.name }}</strong> on <strong> {{ page.date | date: "%b %-d, %Y"}}</strong></span>
            {% endif %}
            </div>
          <img src="{{ page.image }}" title="{{page.keyword}}" alt="{{page.keyword}}" class="img-responsive"> -->
          {% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
            {% if page.shortUrl != null %}
                {% assign url = page.shortUrl %}
            {% endif %}
            {% include social-share.html%}
        </header>
        <article class="post-content">
          <div class="post-wrapper-content">
        	{{ content }}
            {% include signup-block.html %}
            {% if author %}
            <div class="post-author">
              <div class="post-author-image">
                <img src="{{ author.gravatar }}">
              </div>
              <div class="post-author-details">
                <h5>by {{ author.name }}</h5>
                {{ author.details }}
              </div>
            </div>
            {% endif %}
        </div>
      </article>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <h2 class="recent-header">Recent Posts</h2>
  </div>
  <div class="col-md-12">
    <div class="posts">
      <div class="row">
        {% for post in site.posts limit:6 %}
        <ul class="col-md-4">
            <li>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"></a>
              <div class="post-image-container" style="background-image: url('{{ post.image }}')">
              </div>
              <div class="post-content-container">
                <h2 class="post-title">
                  <div class="post-link">{{ post.title | truncatewords:13  }}</div>
                </h2>
              {% assign author = site.data.authors[include.p.author] %}
                <span class="post-byline">
                  {% if author %}
                     by {{ author.name }}
                  {% endif %}
                </span>
                  <div>
                    <p class="post-teaser">
                      {{ post.teaser | truncatewords:17 }}
                    </p>
                  </div>
              </div>
            </li>
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
